body {
    margin: 0;
    background-color: #fefefe;
    display: grid;
    grid-template-columns: 50vw 100vh 50vw 100vh;
}

/* Left portion of application */
#left-container {
    display: grid;
    grid-column: 1;
    
    /* height: 100vh;  */
    background: linear-gradient(360deg, rgba(136,69,234,1) 35%, rgba(64,71,216,1) 100%);
}

#logo {
    color: #fefefe;
    font-size: 48px;
    margin: 40px;
}


#search-box {
    width: 50%;
    margin: 0 auto;
    
}

#search-term {
    padding: 10px;
    width: 70%;
    border: none;
    outline: none;
    border-bottom: 3px solid;
    font-size: 16px;
}

#search-btn {
    padding: 15px 0;
    margin: 10px;
    width: 120px;
    background-color: #ae9cff;
    border: none;
    outline: none;
    color: #ffffff;
    border-radius: 5px;
    font-size: 16px;
}

/* Right portion of application */
#right-container {
    display: grid;
    grid-column: 2;
    /* width: 50%; */
}

#dark-mode {
    margin: auto;
    width: 100%;
}

.dark-mode-icon {
    width: 45px;
    height: 45px;
    float: right;
}

/* #result {
    margin: auto;
} */



h1 {
    padding: 100px;
    font-size: 40px;
}

.phonetic {
    color: lightgray;
}

.details {
    display: flex;
    gap: 10px;
    color: #b3b6d4;
    margin: 5px 0 20px 0;
    font-size: 14px;
}

.definition {
    font-size: 16px;
}