* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.dark-mode {
    background-color: #222;
    color: #fefefe;
}
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}
/* Left portion of application */
.left-container {
    left: 0;
    position: absolute;
    background: linear-gradient(360deg, rgba(136,69,234,1) 35%, rgba(64,71,216,1) 100%);
}
.dark-mode .left-container {
    background: linear-gradient(180deg, rgba(136,69,234,1) 35%, rgba(64,71,216,1) 100%);
}
#logo {
    margin: auto;
    padding-left: 40px;
    color: #fefefe;
    font-size: 48px;
}
.dark-mode #logo {
    color: #222;
}
.search-box {
    position: relative;
    width: 50%;
    left: 25%;
    top: 480px;
    display: flex;
}
.dark-mode input {
    background-color: #222;
    color: #fefefe;
}
.search-box input{
    padding: 10px;
    width: 70%;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
}
.search-box button {
    padding: 15px 0;
    margin: 10px;
    width: 120px;
    background-color: #ae9cff;
    color: #fefefe;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
}
.dark-mode .search-box button {
    color: #fefefe;
    background-color: #2e2751 
}
/* Right portion of application */
.right-container {
    right: 0;
}
.dark-mode-icon {
    background: url(/assets/dark-mode.png);
    background-size: cover;
    width: 30px;
    height: 30px;
    float: right;
    margin-right: 40px;
    margin-top: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}
.result {
    position: relative;
    width: 50%;
    left: 25%;
    top: 480px;
}
.result h3 {
    font-size: 30px;
}
.result .dark-mode h3 {
    color: #222222;
}
.result .word {
    display: flex;
    justify-content: space-between;
    
}
.result button {
    background-color: transparent;
    background-image: url();
    color: #ae9cff;
    width: 50px;
    border: none;
    outline: none;
    font-size: 18px;
}
.result .details {
    display: flex;
    padding-top: 10px;
    gap: 10px;
    color: lightgrey;
    margin: 5px 0 20px 0;
    font-size: 16px;
}
.word-def .dark-mode    {
    color: #222222;
    padding-bottom: 20px;
}
.example {
    display: flex;
    font-style: italic;
    border-left: 5px solid #ae9cff;
    padding-left: 20px;
    margin-top: 30px;
}
.example .dark-mode    {
    color: #222222;
}

button {
    cursor: pointer;
    
}

